openapi: 3.0.3
info:
  title: API ImmoConnect
  description: >
    API RESTful de la plateforme ImmoConnect (agence immobilière) :
    consultation des biens, favoris, messagerie, prise de rendez-vous de visite
    avec créneaux premium payants (Stripe), blog et volet Open Data.
    Documentation générée avec springdoc-openapi et servie par Swagger UI.
  version: 1.0.0
  contact:
    name: ImmoConnect — support API
    email: api@immoconnect.be
  license:
    name: Données Open Data sous licence CC BY 4.0
    url: https://creativecommons.org/licenses/by/4.0/deed.fr
servers:
  - url: https://www.immoconnect.be/api/v1
    description: Production
  - url: http://localhost:8080/api/v1
    description: Développement local
tags:
  - name: Authentification
  - name: Biens
  - name: Favoris
  - name: Messages
  - name: Rendez-vous
  - name: Paiements
  - name: Blog
  - name: Traductions
  - name: Flux RSS
    description: Derniers articles et dernières annonces, pour les lecteurs de flux. Publics, sans clé.
  - name: Open Data
  - name: Administration
    description: >
      Back-office de l'administrateur. Rôle « admin » exigé, puis niveau d'accès : éditeur (1),
      gestionnaire (2) ou super-administrateur (3).
  - name: Configuration
    description: Réglages publics du site
security:
  - bearerAuth: []
paths:
  /auth/register:
    post:
      tags: [Authentification]
      summary: Créer un compte membre
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/InscriptionRequete' }
      responses:
        '201':
          description: Compte créé et session ouverte (activation par e-mail désactivée)
          headers:
            Set-Cookie: { description: Cookie de session immoconnect_session (HttpOnly, Secure, SameSite=Strict, chemin /api/v1/auth), schema: { type: string } }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/JetonReponse' }
        '202':
          description: Compte créé, en attente du lien d'activation reçu par e-mail (valable 24 heures)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/JetonReponse' }
        '422': { $ref: '#/components/responses/ErreurValidation' }
  /auth/login:
    post:
      tags: [Authentification]
      summary: Se connecter et obtenir un jeton JWT
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ConnexionRequete' }
      responses:
        '200':
          description: Jeton d'accès délivré (15 minutes) et cookie de session posé
          headers:
            Set-Cookie: { description: Cookie de session immoconnect_session, 14 jours, tourné à chaque renouvellement, schema: { type: string } }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/JetonReponse' }
        '202':
          description: Second facteur exigé — un code à six chiffres est envoyé par e-mail ; le défi s'échange contre la session sur /auth/login/code
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Defi' }
        '401': { $ref: '#/components/responses/ErreurAuthentification' }
        '403':
          description: Compte non activé (type compte-non-active) ou désactivé
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Erreur' }
        '429': { $ref: '#/components/responses/ErreurTentatives' }
  /auth/login/code:
    post:
      tags: [Authentification]
      summary: Second facteur — valider le code reçu par e-mail
      description: Le code vaut dix minutes et cinq essais ; au-delà, le défi est perdu (400) et la connexion recommence.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [defi, code]
              properties:
                defi: { type: string, description: Valeur reçue avec la réponse 202 de /auth/login }
                code: { type: string, pattern: '^[0-9]{6}$', example: '482913' }
      responses:
        '200':
          description: Session ouverte
          content:
            application/json:
              schema: { $ref: '#/components/schemas/JetonReponse' }
        '400': { $ref: '#/components/responses/ErreurLien' }
        '401':
          description: Code incorrect (type code-invalide, propriété essaisRestants)
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Erreur' }
  /auth/refresh:
    post:
      tags: [Authentification]
      summary: Renouveler le jeton d'accès
      description: Le navigateur envoie seul le cookie de session ; le cookie est remplacé (rotation). Un cookie déjà utilisé ferme toutes les sessions du compte.
      security: []
      responses:
        '200':
          description: Nouveau jeton d'accès et nouveau cookie
          content:
            application/json:
              schema: { $ref: '#/components/schemas/JetonReponse' }
        '400': { $ref: '#/components/responses/ErreurLien' }
  /auth/logout:
    post:
      tags: [Authentification]
      summary: Se déconnecter
      description: Ferme la session du cookie et l'efface.
      security: []
      responses:
        '204': { description: Session fermée }
  /auth/mot-de-passe-oublie:
    post:
      tags: [Authentification]
      summary: Mot de passe oublié
      description: Envoie un lien de réinitialisation (30 minutes, usage unique). La réponse est la même que l'adresse soit connue ou non.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AdresseCourriel' }
      responses:
        '202': { description: Demande enregistrée }
        '429': { $ref: '#/components/responses/ErreurTentatives' }
  /auth/reinitialisation:
    post:
      tags: [Authentification]
      summary: Choisir un nouveau mot de passe
      description: Avec le jeton reçu par e-mail ; toutes les sessions sont fermées et le titulaire prévenu.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [jeton, motDePasse]
              properties:
                jeton: { type: string }
                motDePasse: { $ref: '#/components/schemas/MotDePasse' }
      responses:
        '204': { description: Mot de passe remplacé }
        '400': { $ref: '#/components/responses/ErreurLien' }
        '422': { $ref: '#/components/responses/ErreurValidation' }
  /auth/activation:
    post:
      tags: [Authentification]
      summary: Activer un compte
      description: Confirme l'adresse e-mail avec le jeton reçu et ouvre la session.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [jeton]
              properties:
                jeton: { type: string }
      responses:
        '200':
          description: Compte activé, session ouverte
          content:
            application/json:
              schema: { $ref: '#/components/schemas/JetonReponse' }
        '400': { $ref: '#/components/responses/ErreurLien' }
  /auth/activation/renvoi:
    post:
      tags: [Authentification]
      summary: Renvoyer le lien d'activation
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AdresseCourriel' }
      responses:
        '202': { description: Demande enregistrée, réponse identique que l'adresse soit connue ou non }
  /auth/me:
    get:
      tags: [Authentification]
      summary: Profil de l'utilisateur connecté
      responses:
        '200':
          description: Profil
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Utilisateur' }
  /auth/me/export:
    get:
      tags: [Authentification]
      summary: Exporter mes données (portabilité, article 20 du RGPD)
      description: Toutes les données personnelles du compte, en JSON à télécharger (Content-Disposition attachment). La demande est journalisée.
      responses:
        '200':
          description: Fichier immoconnect-mes-donnees.json
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ExportDonnees' }
        '401': { $ref: '#/components/responses/ErreurAuthentification' }
  /configuration:
    get:
      tags: [Configuration]
      summary: Réglages publics du site
      description: Options de sécurité, boîte de démonstration éventuelle, identité de l'agence et langues actives (cas A5). Rien de secret.
      security: []
      responses:
        '200':
          description: Réglages
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ConfigurationPublique' }
  /biens:
    get:
      tags: [Biens]
      summary: Rechercher les biens (multicritères, paginé)
      security: []
      parameters:
        - { name: typeOffre, in: query, schema: { $ref: '#/components/schemas/TypeOffre' }, description: Sans ce critère, ventes et locations sont renvoyées ensemble }
        - { name: ville, in: query, schema: { type: string }, example: Ixelles, description: Début du nom de la commune ou de son code postal }
        - { name: categorieId, in: query, schema: { type: integer } }
        - { name: prixMin, in: query, schema: { type: number } }
        - { name: prixMax, in: query, schema: { type: number }, example: 350000, description: Prix de vente ou loyer mensuel maximum }
        - { name: chambresMin, in: query, schema: { type: integer } }
        - { name: superficieMin, in: query, schema: { type: number } }
        - { name: statut, in: query, schema: { type: string, enum: [disponible, sous_option, vendu, loue], default: disponible }, description: Un bien hors ligne (archive) n'est jamais listé }
        - { name: page, in: query, schema: { type: integer, default: 0 } }
        - { name: taille, in: query, schema: { type: integer, default: 20, maximum: 100 } }
        - { name: tri, in: query, schema: { type: string, example: 'prix,asc' } }
      responses:
        '200':
          description: Page de résultats
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PageBiens' }
    post:
      tags: [Biens]
      summary: Créer une annonce (agent)
      description: >
        L'annonce est créée hors ligne (statut « archive ») : elle ne se publie qu'une fois sa
        première photo ajoutée (règle RA6). L'agent responsable est l'agent connecté.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/BienCreation' }
      responses:
        '201':
          description: Annonce créée
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BienGestion' }
        '403': { $ref: '#/components/responses/ErreurDroits' }
        '422': { $ref: '#/components/responses/ErreurValidation' }
  /biens/{id}:
    parameters:
      - { name: id, in: path, required: true, schema: { type: integer } }
    get:
      tags: [Biens]
      summary: Détail d'un bien
      security: []
      responses:
        '200':
          description: Le bien
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Bien' }
        '404': { $ref: '#/components/responses/ErreurIntrouvable' }
    put:
      tags: [Biens]
      summary: Modifier une annonce et son statut (agent responsable)
      description: >
        Le champ « statut » est facultatif. Publier exige au moins une photo (RA6) ; vendu, loué ou
        archivé est refusé tant que des visites sont prévues. L'annonce d'un autre agent renvoie 403.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/BienCreation' }
      responses:
        '200':
          description: Annonce mise à jour
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BienGestion' }
        '403': { $ref: '#/components/responses/ErreurDroits' }
        '409': { $ref: '#/components/responses/ErreurConflit' }
        '422': { $ref: '#/components/responses/ErreurValidation' }
    delete:
      tags: [Biens]
      summary: Archiver une annonce (agent responsable)
      description: Suppression logique — l'annonce quitte la recherche et reste dans l'historique du back-office.
      responses:
        '204': { description: Annonce archivée }
        '403': { $ref: '#/components/responses/ErreurDroits' }
        '409': { $ref: '#/components/responses/ErreurConflit' }
  /biens/{id}/photos:
    parameters:
      - { name: id, in: path, required: true, schema: { type: integer } }
    post:
      tags: [Biens]
      summary: Ajouter une photo (agent responsable)
      description: >
        JPEG ou PNG, 5 Mo au plus, 400 pixels de côté au moins, 20 photos par annonce. Le type est
        vérifié sur le contenu du fichier ; l'image est redimensionnée et ré-encodée en JPEG, ce
        qui efface ses métadonnées.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [fichier]
              properties:
                fichier: { type: string, format: binary }
                legende: { type: string, maxLength: 150 }
      responses:
        '201':
          description: Photo ajoutée
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BienGestion' }
        '403': { $ref: '#/components/responses/ErreurDroits' }
        '413': { description: Fichier de plus de 5 Mo }
        '422': { $ref: '#/components/responses/ErreurValidation' }
  /biens/{id}/photos/{photoId}:
    delete:
      tags: [Biens]
      summary: Supprimer une photo (agent responsable)
      description: La dernière photo d'une annonce en ligne ne se supprime pas (RA6).
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
        - { name: photoId, in: path, required: true, schema: { type: integer } }
      responses:
        '200':
          description: Galerie mise à jour
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BienGestion' }
        '409': { $ref: '#/components/responses/ErreurConflit' }
  /biens/{id}/photos/{photoId}/couverture:
    put:
      tags: [Biens]
      summary: Choisir la photo de couverture (agent responsable)
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
        - { name: photoId, in: path, required: true, schema: { type: integer } }
      responses:
        '200':
          description: Galerie réordonnée
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BienGestion' }
  /agents/moi/biens:
    get:
      tags: [Biens]
      summary: Mes annonces et leur tableau de bord (agent)
      description: Toutes les annonces de l'agent, hors ligne comprises, avec favoris, demandes en attente et visites à venir.
      responses:
        '200':
          description: Annonces de l'agent
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/BienGestion' }
  /agents/moi/biens/{id}:
    get:
      tags: [Biens]
      summary: Une de mes annonces, adresse exacte comprise (agent responsable)
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      responses:
        '200':
          description: L'annonce
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BienGestion' }
        '403': { $ref: '#/components/responses/ErreurDroits' }
  /categories:
    get:
      tags: [Biens]
      summary: Catégories de biens
      security: []
      responses:
        '200':
          description: Catégories, par ordre alphabétique
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Categorie' }
  /biens/{id}/favori:
    parameters:
      - { name: id, in: path, required: true, schema: { type: integer } }
    put:
      tags: [Favoris]
      summary: Ajouter le bien aux favoris (membre)
      description: Idempotent. Un bien vendu, loué ou sous option n'accepte plus de favori (règle RA5).
      responses:
        '204': { description: Ajouté }
        '404': { $ref: '#/components/responses/ErreurIntrouvable' }
        '409': { $ref: '#/components/responses/ErreurConflit' }
    delete:
      tags: [Favoris]
      summary: Retirer le bien des favoris (membre)
      description: Idempotent.
      responses:
        '204': { description: Retiré }
  /membres/moi/favoris:
    get:
      tags: [Favoris]
      summary: Mes favoris (membre)
      description: Du plus récemment ajouté au plus ancien. Le membre vient du jeton, jamais de l'URL.
      parameters:
        - { name: page, in: query, schema: { type: integer, default: 0 } }
        - { name: taille, in: query, schema: { type: integer, default: 20, maximum: 100 } }
      responses:
        '200':
          description: Liste des favoris
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PageBiens' }
  /messages:
    get:
      tags: [Messages]
      summary: Mes conversations (membre ou agent)
      description: Une ligne par interlocuteur, la conversation la plus récemment active en premier.
      responses:
        '200':
          description: Conversations
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Conversation' }
        '403': { $ref: '#/components/responses/ErreurDroits' }
    post:
      tags: [Messages]
      summary: Envoyer un message (membre ou agent)
      description: >
        Un membre écrit à l'agent de son choix. Un agent répond à un membre qui lui a déjà
        écrit ; il ne peut pas engager la conversation (403). L'expéditeur vient du jeton.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [destinataireId, contenu]
              properties:
                destinataireId: { type: integer, example: 101 }
                contenu: { type: string, maxLength: 5000 }
      responses:
        '201':
          description: Message envoyé
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Message' }
        '403': { $ref: '#/components/responses/ErreurDroits' }
        '404': { $ref: '#/components/responses/ErreurIntrouvable' }
        '422': { $ref: '#/components/responses/ErreurValidation' }
  /messages/conversations/{interlocuteurId}:
    get:
      tags: [Messages]
      summary: Messages échangés avec un interlocuteur
      description: >
        Dans l'ordre chronologique ; liste vide si rien n'a encore été échangé. L'utilisateur
        connecté est toujours l'une des deux parties : il ne peut pas lire la conversation d'un autre.
      parameters:
        - { name: interlocuteurId, in: path, required: true, schema: { type: integer } }
      responses:
        '200':
          description: Messages de la conversation
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Message' }
  /messages/conversations/{interlocuteurId}/lu:
    patch:
      tags: [Messages]
      summary: Marquer comme lus les messages reçus d'un interlocuteur
      parameters:
        - { name: interlocuteurId, in: path, required: true, schema: { type: integer } }
      responses:
        '204': { description: Messages marqués comme lus }
  /biens/{id}/creneaux:
    get:
      tags: [Rendez-vous]
      summary: Créneaux de visite disponibles pour un bien (membre)
      description: >
        Créneaux de la grille de l'agence encore libres dans l'agenda de l'agent du bien.
        Standard (gratuit) : du lundi au vendredi en journée. Premium (payant) : en soirée
        à partir de 18 h et le week-end. Période par défaut : 14 jours à partir d'aujourd'hui ;
        31 jours au plus ; réservation jusqu'à 60 jours à l'avance.
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
        - { name: du, in: query, description: Premier jour, schema: { type: string, format: date } }
        - { name: au, in: query, description: Dernier jour inclus, schema: { type: string, format: date } }
      responses:
        '200':
          description: Créneaux standard et premium encore libres (règle RA14)
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Creneau' }
        '403': { $ref: '#/components/responses/ErreurDroits' }
        '404': { $ref: '#/components/responses/ErreurIntrouvable' }
        '409': { $ref: '#/components/responses/ErreurConflit' }
        '422': { $ref: '#/components/responses/ErreurValidation' }
  /rendez-vous:
    get:
      tags: [Rendez-vous]
      summary: Mes rendez-vous (membre) ou mon agenda (agent)
      responses:
        '200':
          description: Rendez-vous
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/RendezVous' }
    post:
      tags: [Rendez-vous]
      summary: Demander un rendez-vous de visite (membre)
      description: >
        Créneau standard : le rendez-vous est créé au statut « demande » (cas A1).
        Créneau premium : fournir le paymentIntentId confirmé ; le paiement est vérifié
        auprès de Stripe, puis le rendez-vous est créé au statut « confirme ».
        Si le créneau vient d'être pris : erreur 409 (cas A2) ; s'il était déjà payé,
        le paiement est remboursé. Le type et le prix du créneau sont déduits de la date
        par le serveur. Renvoyer la même demande ne crée pas de doublon (idempotence
        sur la référence du paiement).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [bienId, dateHeure]
              properties:
                bienId: { type: integer, example: 42 }
                dateHeure: { type: string, format: date-time, example: '2026-08-29T18:30:00' }
                motif: { type: string, maxLength: 255 }
                paymentIntentId: { type: string, example: pi_3AbCdEf123 }
      responses:
        '201':
          description: Rendez-vous créé
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RendezVous' }
        '409': { $ref: '#/components/responses/ErreurConflit' }
        '422': { $ref: '#/components/responses/ErreurValidation' }
  /rendez-vous/{id}/confirmer:
    patch:
      tags: [Rendez-vous]
      summary: Confirmer une demande (agent) — transition demande → confirme
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      responses:
        '200':
          description: Rendez-vous confirmé, e-mail envoyé au membre
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RendezVous' }
        '409': { $ref: '#/components/responses/ErreurConflit' }
  /rendez-vous/{id}/annuler:
    patch:
      tags: [Rendez-vous]
      summary: Annuler un rendez-vous (membre ou agent)
      description: Si le créneau était premium payé, le remboursement Stripe est déclenché (règle RA8).
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      responses:
        '200':
          description: Rendez-vous annulé (remboursé si premium)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RendezVous' }
        '403': { $ref: '#/components/responses/ErreurDroits' }
        '409': { $ref: '#/components/responses/ErreurConflit' }
        '502': { $ref: '#/components/responses/ErreurPaiement' }
  /rendez-vous/{id}/honorer:
    patch:
      tags: [Rendez-vous]
      summary: Signaler qu'une visite a eu lieu (agent) — transition confirme → honore
      description: Possible uniquement après la date de la visite (règle RA2).
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      responses:
        '200':
          description: Visite honorée
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RendezVous' }
        '403': { $ref: '#/components/responses/ErreurDroits' }
        '409': { $ref: '#/components/responses/ErreurConflit' }
  /paiements/config:
    get:
      tags: [Paiements]
      summary: Réglages de paiement du navigateur
      security: []
      responses:
        '200':
          description: Mode de paiement, clé publiable Stripe et prix du créneau premium
          content:
            application/json:
              schema:
                type: object
                properties:
                  mode: { type: string, enum: [stripe, simulation] }
                  clePublique: { type: string, nullable: true, example: pk_test_51AbC }
                  prixCreneauPremium: { type: number, example: 15.00 }
  /paiements/intent:
    post:
      tags: [Paiements]
      summary: Créer un PaymentIntent Stripe pour un créneau premium (membre)
      description: >
        Le montant est fixé par le serveur. Rien n'est écrit en base à ce stade : si le
        paiement échoue, aucun rendez-vous n'existe (cas d'erreur E1).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [bienId, dateHeure]
              properties:
                bienId: { type: integer }
                dateHeure: { type: string, format: date-time }
                motif: { type: string, maxLength: 255 }
      responses:
        '201':
          description: Secret client Stripe à utiliser côté front (Stripe Elements)
          content:
            application/json:
              schema:
                type: object
                properties:
                  paymentIntentId: { type: string, example: pi_3AbCdEf123 }
                  clientSecret: { type: string, example: pi_3AbC_secret_XyZ }
                  montant: { type: number, example: 15.00 }
                  devise: { type: string, example: eur }
        '409': { $ref: '#/components/responses/ErreurConflit' }
        '422': { $ref: '#/components/responses/ErreurValidation' }
        '502': { $ref: '#/components/responses/ErreurPaiement' }
  /paiements/simulation/{id}/payer:
    post:
      tags: [Paiements]
      summary: Régler une intention en mode simulation (développement et tests)
      description: >
        N'existe que lorsque le backend tourne sans clé Stripe ; renvoie 404 sinon.
        Carte 4242 4242 4242 4242 acceptée, toute autre carte refusée.
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [clientSecret, numeroCarte]
              properties:
                clientSecret: { type: string }
                numeroCarte: { type: string, example: '4242 4242 4242 4242' }
      responses:
        '204': { description: Paiement accepté }
        '402': { description: Carte refusée }
        '404': { $ref: '#/components/responses/ErreurIntrouvable' }
  /webhooks/stripe:
    post:
      tags: [Paiements]
      summary: Webhook Stripe (signature vérifiée) — statut des paiements
      description: >
        Événements traités : payment_intent.succeeded (crée le rendez-vous s'il n'existe pas
        encore), payment_intent.payment_failed et charge.refunded. La signature de l'en-tête
        Stripe-Signature est vérifiée sur le corps brut ; l'état du paiement est ensuite relu
        auprès de Stripe.
      security: []
      responses:
        '200': { description: Événement traité ou ignoré }
        '400': { description: Signature absente ou invalide }
  /articles:
    get:
      tags: [Blog]
      summary: Articles publiés du blog (paginé)
      security: []
      parameters:
        - { name: categorieId, in: query, schema: { type: integer } }
        - { name: page, in: query, schema: { type: integer, default: 0 } }
        - { name: taille, in: query, schema: { type: integer, default: 9, maximum: 50 } }
      responses:
        '200':
          description: Page d'articles, du plus récent au plus ancien (le contenu complet n'est pas inclus)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PageArticles' }
  /articles/categories:
    get:
      tags: [Blog]
      summary: Catégories du blog
      security: []
      responses:
        '200':
          description: Catégories éditoriales
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id: { type: integer }
                    nom: { type: string, example: Conseils achat }
  /articles/{id}:
    get:
      tags: [Blog]
      summary: Détail d'un article publié
      description: Un brouillon ou un article archivé est introuvable pour le public (règle RA4).
      security: []
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      responses:
        '200':
          description: Article
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Article' }
        '404': { $ref: '#/components/responses/ErreurIntrouvable' }
  /admin/utilisateurs:
    get:
      tags: [Administration]
      summary: Comptes de la plateforme (gestionnaire)
      parameters:
        - { name: role, in: query, schema: { type: string, enum: [membre, agent, admin] } }
        - { name: recherche, in: query, description: Nom, prénom ou e-mail, schema: { type: string } }
        - { name: page, in: query, schema: { type: integer, default: 0 } }
        - { name: taille, in: query, schema: { type: integer, default: 20, maximum: 100 } }
      responses:
        '200':
          description: Page de comptes
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PageComptes' }
        '403': { $ref: '#/components/responses/ErreurDroits' }
  /admin/agents:
    post:
      tags: [Administration]
      summary: Ouvrir le compte d'un agent (gestionnaire)
      description: Le matricule est attribué par le serveur ; l'agent change ensuite son mot de passe provisoire.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [nom, prenom, email, telephonePro, motDePasse]
              properties:
                nom: { type: string, maxLength: 80 }
                prenom: { type: string, maxLength: 80 }
                email: { type: string, format: email }
                telephonePro: { type: string, example: '+32 470 12 34 56' }
                langue: { type: string, enum: [fr, nl, en], default: fr }
                motDePasse: { type: string, format: password, minLength: 8 }
      responses:
        '201':
          description: Compte créé
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Compte' }
        '409': { $ref: '#/components/responses/ErreurConflit' }
        '422': { $ref: '#/components/responses/ErreurValidation' }
  /admin/utilisateurs/{id}/desactiver:
    patch:
      tags: [Administration]
      summary: Désactiver un compte (gestionnaire)
      description: >
        Le compte ne peut plus se connecter ; son historique est conservé. Nul ne se désactive
        lui-même, et seul un super-administrateur agit sur le compte d'un administrateur.
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      responses:
        '200':
          description: Compte désactivé
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Compte' }
        '403': { $ref: '#/components/responses/ErreurDroits' }
  /admin/utilisateurs/{id}/activer:
    patch:
      tags: [Administration]
      summary: Réactiver un compte (gestionnaire)
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      responses:
        '200':
          description: Compte réactivé
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Compte' }
  /admin/journal:
    get:
      tags: [Administration]
      summary: Journal d'audit (gestionnaire)
      description: Du plus récent au plus ancien. Le journal se consulte ; aucune opération ne le modifie.
      parameters:
        - { name: action, in: query, schema: { type: string, example: connexion } }
        - { name: utilisateurId, in: query, schema: { type: integer } }
        - { name: du, in: query, schema: { type: string, format: date } }
        - { name: au, in: query, schema: { type: string, format: date } }
        - { name: page, in: query, schema: { type: integer, default: 0 } }
        - { name: taille, in: query, schema: { type: integer, default: 50, maximum: 100 } }
      responses:
        '200':
          description: Page de traces
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PageTraces' }
  /admin/journal/actions:
    get:
      tags: [Administration]
      summary: Actions présentes dans le journal (gestionnaire)
      responses:
        '200':
          description: Valeurs possibles du filtre « action »
          content:
            application/json:
              schema: { type: array, items: { type: string } }
  /admin/statistiques:
    get:
      tags: [Administration]
      summary: Statistiques du site (gestionnaire)
      responses:
        '200':
          description: Agrégats — biens, comptes, rendez-vous, revenus premium, prix par commune
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Statistiques' }
  /admin/categories:
    post:
      tags: [Administration]
      summary: Créer une catégorie de biens (éditeur)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CategorieRequete' }
      responses:
        '201':
          description: Catégorie créée
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Categorie' }
        '422': { $ref: '#/components/responses/ErreurValidation' }
  /admin/categories/{id}:
    parameters:
      - { name: id, in: path, required: true, schema: { type: integer } }
    put:
      tags: [Administration]
      summary: Modifier une catégorie de biens (éditeur)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CategorieRequete' }
      responses:
        '200':
          description: Catégorie mise à jour
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Categorie' }
    delete:
      tags: [Administration]
      summary: Supprimer une catégorie de biens (éditeur)
      description: Refusé (409) tant que des biens portent cette catégorie.
      responses:
        '204': { description: Catégorie supprimée }
        '409': { $ref: '#/components/responses/ErreurConflit' }
  /admin/articles:
    get:
      tags: [Administration]
      summary: Tous les articles, brouillons compris (éditeur)
      parameters:
        - { name: statut, in: query, schema: { type: string, enum: [brouillon, publie, archive] } }
        - { name: page, in: query, schema: { type: integer, default: 0 } }
        - { name: taille, in: query, schema: { type: integer, default: 20, maximum: 50 } }
      responses:
        '200':
          description: Page d'articles
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PageArticles' }
    post:
      tags: [Administration]
      summary: Rédiger un article (éditeur)
      description: L'article est créé à l'état de brouillon, invisible du public.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ArticleRequete' }
      responses:
        '201':
          description: Brouillon créé
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Article' }
        '422': { $ref: '#/components/responses/ErreurValidation' }
  /admin/articles/{id}:
    parameters:
      - { name: id, in: path, required: true, schema: { type: integer } }
    get:
      tags: [Administration]
      summary: Un article, quel que soit son statut (éditeur)
      responses:
        '200':
          description: Article
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Article' }
    put:
      tags: [Administration]
      summary: Modifier un article (éditeur)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ArticleRequete' }
      responses:
        '200':
          description: Article mis à jour
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Article' }
    delete:
      tags: [Administration]
      summary: Supprimer un article (éditeur)
      responses:
        '204': { description: Article supprimé }
  /admin/articles/{id}/publier:
    patch:
      tags: [Administration]
      summary: Publier un article (éditeur)
      description: La date de publication est renseignée automatiquement (règle RA4).
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      responses:
        '200':
          description: Article publié
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Article' }
  /admin/articles/{id}/archiver:
    patch:
      tags: [Administration]
      summary: Archiver un article (éditeur)
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      responses:
        '200':
          description: Article archivé
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Article' }
  /admin/traductions:
    get:
      tags: [Administration]
      summary: Textes du site dans toutes les langues (éditeur)
      responses:
        '200':
          description: Une ligne par clé
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/TraductionLigne' }
  /admin/traductions/{cle}:
    parameters:
      - { name: cle, in: path, required: true, schema: { type: string, example: accueil.titre } }
    put:
      tags: [Administration]
      summary: Créer ou modifier un texte du site (éditeur)
      description: Seules les langues transmises sont modifiées. Effet immédiat sur GET /traductions/{codeLangue}.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [valeurs]
              properties:
                valeurs:
                  type: object
                  additionalProperties: { type: string, maxLength: 2000 }
                  example: { fr: Trouvez le bien qui vous ressemble, nl: Vind het pand dat bij u past }
      responses:
        '200':
          description: Texte enregistré
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TraductionLigne' }
        '422': { $ref: '#/components/responses/ErreurValidation' }
    delete:
      tags: [Administration]
      summary: Supprimer un texte du site dans toutes les langues (éditeur)
      responses:
        '204': { description: Texte supprimé }
        '404': { $ref: '#/components/responses/ErreurIntrouvable' }
  /admin/cles-api:
    get:
      tags: [Administration]
      summary: Clés API délivrées (gestionnaire)
      description: La clé elle-même n'est jamais renvoyée — le serveur n'en conserve que l'empreinte SHA-256.
      responses:
        '200':
          description: Clés, de la plus récente à la plus ancienne
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/CleApi' }
    post:
      tags: [Administration]
      summary: Générer une clé API (gestionnaire)
      description: La clé figure dans cette réponse et nulle part ailleurs — elle ne pourra plus être affichée.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [libelle]
              properties:
                libelle: { type: string, maxLength: 80, example: Observatoire des loyers }
      responses:
        '201':
          description: Clé créée, valeur comprise
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CleApi' }
  /admin/cles-api/{id}/revoquer:
    patch:
      tags: [Administration]
      summary: Révoquer une clé API (gestionnaire)
      description: Effet immédiat et définitif (règle RA12).
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      responses:
        '200':
          description: Clé révoquée
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CleApi' }
  /admin/alertes:
    get:
      tags: [Administration]
      summary: Alertes de sécurité (gestionnaire)
      description: >
        Détection d'intrusion : rafale d'échecs de connexion, énumération d'identifiants (l'adresse est alors
        bannie de la connexion pendant quinze minutes), clé API révoquée présentée. Chaque alerte est aussi
        envoyée par e-mail aux super-administrateurs.
      parameters:
        - { name: page, in: query, schema: { type: integer, default: 0 } }
        - { name: taille, in: query, schema: { type: integer, default: 20, maximum: 100 } }
      responses:
        '200':
          description: De la plus récente à la plus ancienne
          content:
            application/json:
              schema:
                type: object
                properties:
                  contenu: { type: array, items: { $ref: '#/components/schemas/AlerteSecurite' } }
                  page: { type: integer }
                  taille: { type: integer }
                  totalElements: { type: integer }
                  totalPages: { type: integer }
        '403': { $ref: '#/components/responses/ErreurDroits' }
  /admin/biens:
    get:
      tags: [Administration]
      summary: Annonces de tous les agents (gestionnaire)
      description: >
        Supervision : hors ligne comprises, avec leurs indicateurs. La modification passe par PUT /biens/{id} et
        les photos par /biens/{id}/photos, ouverts à l'administrateur gestionnaire ; le journal retient son nom.
      parameters:
        - { name: agentId, in: query, schema: { type: integer }, description: Limiter aux annonces d'un agent }
      responses:
        '200':
          description: Annonces
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/BienGestion' }
        '403': { $ref: '#/components/responses/ErreurDroits' }
  /admin/biens/{id}:
    get:
      tags: [Administration]
      summary: Une annonce, adresse exacte comprise (gestionnaire)
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      responses:
        '200':
          description: Annonce
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BienGestion' }
        '404': { $ref: '#/components/responses/ErreurIntrouvable' }
  /admin/agents/{agentId}/conversations:
    get:
      tags: [Administration]
      summary: Conversations d'un agent (gestionnaire)
      description: Lecture seule — la direction de l'agence consulte les échanges de ses agents avec les clients.
      parameters:
        - { name: agentId, in: path, required: true, schema: { type: integer } }
      responses:
        '200':
          description: Conversations, la plus récemment active en premier
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Conversation' }
        '403': { $ref: '#/components/responses/ErreurDroits' }
        '404': { $ref: '#/components/responses/ErreurIntrouvable' }
  /admin/agents/{agentId}/conversations/{membreId}:
    get:
      tags: [Administration]
      summary: Messages échangés entre un agent et un membre (gestionnaire)
      description: Lecture seule — rien n'est marqué comme lu. La consultation est inscrite au journal d'audit.
      parameters:
        - { name: agentId, in: path, required: true, schema: { type: integer } }
        - { name: membreId, in: path, required: true, schema: { type: integer } }
      responses:
        '200':
          description: Messages, du plus ancien au plus récent
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Message' }
        '403': { $ref: '#/components/responses/ErreurDroits' }
  /admin/parametres:
    get:
      tags: [Administration]
      summary: Paramètres du site (gestionnaire, cas A5)
      responses:
        '200':
          description: Nom, slogan, coordonnées et horaires de l'agence, langues actives
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Parametre' }
        '403': { $ref: '#/components/responses/ErreurDroits' }
    put:
      tags: [Administration]
      summary: Modifier des paramètres (gestionnaire)
      description: Valeurs par clé ; une clé inconnue ou une valeur invalide est refusée. Le français reste toujours actif. Chaque changement est journalisé.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [valeurs]
              properties:
                valeurs:
                  type: object
                  additionalProperties: { type: string }
                  example: { agence.nom: ImmoConnect Bruxelles, langues.actives: 'fr,nl' }
      responses:
        '200':
          description: Paramètres après modification
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Parametre' }
        '422': { $ref: '#/components/responses/ErreurValidation' }
  /traductions/{codeLangue}:
    get:
      tags: [Traductions]
      summary: Dictionnaire de traduction de l'interface (fr, nl, en)
      security: []
      parameters:
        - { name: codeLangue, in: path, required: true, schema: { type: string, enum: [fr, nl, en] } }
      responses:
        '200':
          description: Paires clé/valeur
          content:
            application/json:
              schema:
                type: object
                additionalProperties: { type: string }
              example: { nav.accueil: Accueil, rdv.bouton: Prendre rendez-vous }
  /flux/articles:
    get:
      tags: [Flux RSS]
      summary: Flux RSS du blog
      description: Les 20 derniers articles publiés, du plus récent au plus ancien (RA4). Public, sans clé.
      security: []
      responses:
        '200':
          description: Flux RSS 2.0
          content:
            application/rss+xml:
              schema: { type: string }
  /flux/biens:
    get:
      tags: [Flux RSS]
      summary: Flux RSS des annonces
      description: >
        Les 20 dernières annonces disponibles. Chaque élément porte le type d'offre, la catégorie, la commune,
        la superficie, les chambres, le prix et la photo de couverture. Ni adresse exacte ni nom d'agent.
        Public, sans clé.
      security: []
      parameters:
        - { name: typeOffre, in: query, schema: { $ref: '#/components/schemas/TypeOffre' }, description: Sans ce critère, ventes et locations ensemble }
      responses:
        '200':
          description: Flux RSS 2.0
          content:
            application/rss+xml:
              schema: { type: string }
        '400': { description: Type d'offre inconnu }
  /open-data/biens:
    get:
      tags: [Open Data]
      summary: Jeu de données ouvert des annonces publiées (CC BY 4.0)
      description: >
        Données anonymisées (aucune donnée personnelle) des biens au statut
        « disponible » : type d'offre, catégorie, commune, code postal, prix, superficie,
        chambres, position arrondie à trois décimales (une centaine de mètres). Pour une location, le prix est le loyer mensuel. Accès par clé API
        gratuite (en-tête X-API-Key), limité à 60 appels par minute et par clé.
        Format JSON par défaut ; CSV avec l'en-tête « Accept: text/csv ».
      security:
        - apiKeyAuth: []
      responses:
        '200':
          description: Jeu de données
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/BienOpenData' }
            text/csv:
              schema: { type: string }
        '401': { $ref: '#/components/responses/ErreurAuthentification' }
        '429': { $ref: '#/components/responses/ErreurQuota' }
  /open-data/statistiques:
    get:
      tags: [Open Data]
      summary: Statistiques agrégées du marché (CC BY 4.0)
      description: >
        Prix moyen et médian au m² par commune, par catégorie et par type d'offre, calculés sur les annonces
        publiées. Ventes et locations sont séparées : pour une location, les montants sont des loyers mensuels.
      security:
        - apiKeyAuth: []
      responses:
        '200':
          description: Statistiques agrégées
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    commune: { type: string, example: Ixelles }
                    categorie: { type: string, example: Appartement }
                    typeOffre: { $ref: '#/components/schemas/TypeOffre' }
                    nbAnnonces: { type: integer, example: 14 }
                    prixMoyen: { type: number, example: 342500 }
                    prixMedianM2: { type: number, example: 3620 }
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "Jeton JWT obtenu via POST /auth/login (en-tête Authorization: Bearer <jeton>)"
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Clé API délivrée par l'administrateur (table cle_api) — révocable (règle RA12)
  responses:
    ErreurValidation:
      description: Données invalides (règles du dictionnaire de données)
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Erreur' }
    ErreurAuthentification:
      description: Jeton ou clé API manquant, invalide ou révoqué
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Erreur' }
    ErreurDroits:
      description: Rôle insuffisant pour cette opération
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Erreur' }
    ErreurLien:
      description: Lien, jeton ou défi expiré ou déjà utilisé (type lien-invalide)
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Erreur' }
    ErreurTentatives:
      description: Trop de tentatives — compte verrouillé ou plus de dix connexions par minute depuis cette adresse ; en-tête Retry-After
      headers:
        Retry-After: { schema: { type: integer }, description: Secondes à attendre }
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Erreur' }
    ErreurIntrouvable:
      description: Ressource inexistante
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Erreur' }
    ErreurConflit:
      description: Conflit d'état (créneau déjà réservé — A2, transition interdite — RA1)
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Erreur' }
    ErreurPaiement:
      description: Le prestataire de paiement ne répond pas ; rien n'a été écrit
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Erreur' }
    ErreurQuota:
      description: Limite de requêtes atteinte (60/min par clé)
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Erreur' }
  schemas:
    StatutBien:
      type: string
      enum: [disponible, sous_option, vendu, loue, archive]
      description: « vendu » ne concerne qu'une vente, « loue » qu'une location
    TypeOffre:
      type: string
      enum: [vente, location]
      description: Nature de l'offre ; elle donne son sens au prix
    Peb:
      type: string
      enum: ['A++', 'A+', A, B, C, D, E, F, G]
      description: Classe énergétique du certificat PEB, obligatoire dans toute publicité immobilière
    StatutRendezVous:
      type: string
      enum: [demande, confirme, annule, honore]
    Utilisateur:
      type: object
      properties:
        id: { type: integer, example: 7 }
        nom: { type: string, example: Dubois }
        prenom: { type: string, example: Sarah }
        email: { type: string, format: email, example: sarah.dubois@mail.be }
        langue: { type: string, example: fr }
        role: { type: string, enum: [membre, agent, admin] }
        doubleFacteur: { type: boolean, description: Connexion en deux étapes — au choix de chacun, quel que soit son rôle (PATCH /auth/me) }
        consentementCommunications: { type: boolean }
    MotDePasse:
      type: string
      format: password
      minLength: 8
      maxLength: 72
      description: Minuscules, majuscules et un chiffre ; refusé s'il figure dans une fuite de données connue (Have I Been Pwned, par k-anonymat)
    InscriptionRequete:
      type: object
      required: [nom, prenom, email, motDePasse, cguAcceptees]
      properties:
        nom: { type: string, maxLength: 80 }
        prenom: { type: string, maxLength: 80 }
        email: { type: string, format: email }
        motDePasse: { $ref: '#/components/schemas/MotDePasse' }
        langue: { type: string, enum: [fr, nl, en], default: fr }
        telephone: { type: string, nullable: true }
        cguAcceptees: { type: boolean, description: Doit valoir true ; l'acceptation est horodatée }
        consentementCommunications: { type: boolean, default: false }
    AdresseCourriel:
      type: object
      required: [email]
      properties:
        email: { type: string, format: email }
    Defi:
      type: object
      properties:
        defi: { type: string, description: À renvoyer avec le code sur /auth/login/code }
        expireDans: { type: integer, example: 600, description: Secondes }
    ConfigurationPublique:
      type: object
      properties:
        activationParCourriel: { type: boolean }
        doubleFacteur: { type: boolean }
        boiteDeDemonstration: { type: string, nullable: true, example: /courriels/ }
        site:
          type: object
          properties:
            nom: { type: string, example: ImmoConnect }
            slogan: { type: string }
            adresse: { type: string }
            telephone: { type: string }
            email: { type: string, format: email }
            horaires: { type: string }
            languesActives: { type: array, items: { type: string, enum: [fr, nl, en] } }
    AlerteSecurite:
      type: object
      properties:
        id: { type: integer }
        type: { type: string, enum: [rafale_echecs, enumeration, cle_revoquee] }
        ip: { type: string, example: 203.0.113.9 }
        detail: { type: string, example: 7 comptes différents essayés en 10 min }
        creeLe: { type: string, format: date-time }
    Parametre:
      type: object
      properties:
        cle: { type: string, enum: [agence.nom, agence.slogan, agence.adresse, agence.telephone, agence.email, agence.horaires, langues.actives] }
        valeur: { type: string, maxLength: 1000 }
        modifieLe: { type: string, format: date-time }
        modifiePar: { type: string, nullable: true, example: Lotte Goossens }
    ExportDonnees:
      type: object
      description: Aucun identifiant interne — les données sont exprimées avec les titres des biens et les noms des interlocuteurs
      properties:
        exporteLe: { type: string, format: date-time }
        compte:
          type: object
          properties:
            prenom: { type: string }
            nom: { type: string }
            email: { type: string }
            telephone: { type: string, nullable: true }
            role: { type: string }
            langue: { type: string }
            inscritLe: { type: string, format: date }
            cguAccepteesLe: { type: string, format: date-time, nullable: true }
            consentementCommunications: { type: boolean }
            doubleFacteur: { type: boolean }
        favoris: { type: array, items: { type: object, properties: { bien: { type: string }, ville: { type: string }, ajouteLe: { type: string, format: date-time } } } }
        visites: { type: array, items: { type: object, properties: { bien: { type: string }, ville: { type: string }, agent: { type: string }, dateHeure: { type: string, format: date-time }, statut: { type: string }, motif: { type: string, nullable: true }, premium: { type: boolean } } } }
        paiements: { type: array, items: { type: object, properties: { bien: { type: string }, visite: { type: string, format: date-time }, montant: { type: number }, statut: { type: string }, payeLe: { type: string, format: date-time, nullable: true }, reference: { type: string } } } }
        messages: { type: array, items: { type: object, properties: { interlocuteur: { type: string }, envoye: { type: boolean }, contenu: { type: string }, envoyeLe: { type: string, format: date-time }, lu: { type: boolean } } } }
        historique: { type: array, items: { type: object, properties: { action: { type: string }, entite: { type: string }, horodatage: { type: string, format: date-time }, ip: { type: string } } } }
    ConnexionRequete:
      type: object
      required: [email, motDePasse]
      properties:
        email: { type: string, format: email, example: lucas.peeters@mail.be }
        motDePasse: { type: string, format: password, example: password }
    JetonReponse:
      type: object
      properties:
        jeton: { type: string, example: eyJhbGciOiJIUzI1NiJ9... }
        type: { type: string, example: Bearer }
        expireDans: { type: integer, example: 900, description: Durée de vie en secondes ; le cookie de session renouvelle le jeton }
        utilisateur: { $ref: '#/components/schemas/Utilisateur' }
        activationRequise: { type: boolean, description: Vrai avec la réponse 202 de /auth/register — pas de jeton tant que l'adresse n'est pas confirmée }
    Photo:
      type: object
      properties:
        id: { type: integer }
        url: { type: string, example: /storage/biens/42/photo-1.jpg }
        ordre: { type: integer, example: 1 }
        legende: { type: string, nullable: true, example: Séjour }
    Bien:
      type: object
      properties:
        id: { type: integer, example: 42 }
        titre: { type: string, example: Appartement 3 chambres — Ixelles }
        description: { type: string }
        categorie: { type: string, example: Appartement }
        typeOffre: { $ref: '#/components/schemas/TypeOffre' }
        prix: { type: number, example: 285000, description: Prix de vente, ou loyer mensuel d'une location }
        superficie: { type: number, example: 95 }
        nbChambres: { type: integer, example: 3 }
        peb: { $ref: '#/components/schemas/Peb' }
        adresse: { type: string, example: Rue du Bailli 27 }
        ville: { type: string, example: Ixelles }
        codePostal: { type: string, example: '1050' }
        latitude: { type: number, example: 50.8275 }
        longitude: { type: number, example: 4.3720 }
        statut: { $ref: '#/components/schemas/StatutBien' }
        publieLe: { type: string, format: date }
        agent:
          type: object
          properties:
            id: { type: integer, example: 101 }
            nomComplet: { type: string, example: Sarah Dubois }
        photos:
          type: array
          items: { $ref: '#/components/schemas/Photo' }
    BienCreation:
      type: object
      required: [categorieId, titre, description, prix, superficie, nbChambres, peb, adresse, ville, codePostal, latitude, longitude]
      properties:
        categorieId: { type: integer }
        typeOffre:
          allOf: [{ $ref: '#/components/schemas/TypeOffre' }]
          description: Facultatif — une nouvelle annonce est une vente, une annonce modifiée garde le sien
        titre: { type: string, maxLength: 150 }
        description: { type: string }
        prix: { type: number, minimum: 0, exclusiveMinimum: true, description: Prix de vente, ou loyer mensuel d'une location }
        superficie: { type: number, minimum: 0, exclusiveMinimum: true }
        nbChambres: { type: integer, minimum: 0, maximum: 20 }
        peb: { $ref: '#/components/schemas/Peb' }
        adresse: { type: string }
        ville: { type: string }
        codePostal: { type: string, pattern: '^[1-9][0-9]{3}$' }
        latitude: { type: number, minimum: -90, maximum: 90 }
        longitude: { type: number, minimum: -180, maximum: 180 }
    PageBiens:
      type: object
      properties:
        contenu:
          type: array
          items: { $ref: '#/components/schemas/Bien' }
        page: { type: integer, example: 0 }
        taille: { type: integer, example: 20 }
        totalElements: { type: integer, example: 128 }
        totalPages: { type: integer, example: 7 }
    Creneau:
      type: object
      properties:
        dateHeure: { type: string, format: date-time, example: '2026-08-29T18:30:00' }
        type: { type: string, enum: [standard, premium] }
        prix: { type: number, example: 15.00, description: 0 pour un créneau standard }
    RendezVous:
      type: object
      properties:
        id: { type: integer, example: 118 }
        bienId: { type: integer, example: 42 }
        bienTitre: { type: string, example: Appartement 3 chambres — Ixelles }
        ville: { type: string, example: Ixelles }
        adresse:
          type: string
          nullable: true
          example: Rue du Bailli 27, 1050 Ixelles
          description: Communiquée au membre une fois la visite confirmée ; toujours visible de l'agent
        agent: { type: string, example: Sarah Dubois }
        membre: { type: string, example: Lucas Peeters }
        dateHeure: { type: string, format: date-time }
        statut: { $ref: '#/components/schemas/StatutRendezVous' }
        motif: { type: string, nullable: true }
        type: { type: string, enum: [standard, premium] }
        paiement:
          type: object
          nullable: true
          properties:
            montant: { type: number, example: 15.00 }
            statut: { type: string, enum: [initie, reussi, echoue, rembourse] }
            payeLe: { type: string, format: date-time, nullable: true }
        remboursableJusquA:
          type: string
          format: date-time
          nullable: true
          description: Créneau premium — dernier instant où le membre peut annuler en étant remboursé (24 h avant la visite, RA14) ; null pour un créneau standard
    Article:
      type: object
      properties:
        id: { type: integer }
        titre: { type: string, example: 'Acheter un appartement à Ixelles : le guide complet' }
        extrait: { type: string, description: Début du contenu (220 caractères) }
        contenu: { type: string, nullable: true, description: Texte brut ; absent des listes }
        categorieId: { type: integer }
        categorie: { type: string, example: Conseils achat }
        statut: { type: string, enum: [brouillon, publie, archive] }
        publieLe: { type: string, format: date, nullable: true }
        auteur: { type: string, example: Yasmine Benali }
    ArticleRequete:
      type: object
      required: [titre, contenu, categorieId]
      properties:
        titre: { type: string, maxLength: 150 }
        contenu: { type: string, maxLength: 20000 }
        categorieId: { type: integer }
    PageArticles:
      type: object
      properties:
        contenu: { type: array, items: { $ref: '#/components/schemas/Article' } }
        page: { type: integer, example: 0 }
        taille: { type: integer, example: 9 }
        totalElements: { type: integer, example: 77 }
        totalPages: { type: integer, example: 9 }
    Categorie:
      type: object
      properties:
        id: { type: integer, example: 2 }
        nom: { type: string, example: Appartement }
        description: { type: string, nullable: true }
    CategorieRequete:
      type: object
      required: [nom]
      properties:
        nom: { type: string, maxLength: 60 }
        description: { type: string, maxLength: 1000 }
    BienGestion:
      type: object
      description: Annonce vue par son agent — adresse exacte comprise, jamais renvoyée au public
      properties:
        id: { type: integer, example: 42 }
        titre: { type: string }
        description: { type: string }
        typeOffre: { $ref: '#/components/schemas/TypeOffre' }
        prix: { type: number, example: 285000, description: Prix de vente, ou loyer mensuel d'une location }
        superficie: { type: number, example: 95 }
        nbChambres: { type: integer, example: 3 }
        peb: { $ref: '#/components/schemas/Peb' }
        adresse: { type: string, example: Rue du Bailli 27 }
        ville: { type: string, example: Ixelles }
        codePostal: { type: string, example: '1050' }
        latitude: { type: number, example: 50.8275 }
        longitude: { type: number, example: 4.3720 }
        statut: { $ref: '#/components/schemas/StatutBien' }
        publieLe: { type: string, format: date }
        categorieId: { type: integer }
        categorie: { type: string, example: Appartement }
        photos: { type: array, items: { $ref: '#/components/schemas/Photo' } }
        indicateurs:
          type: object
          properties:
            vues: { type: integer, example: 143, description: Consultations de la fiche publique par les visiteurs et les membres }
            favoris: { type: integer, example: 6 }
            demandesEnAttente: { type: integer, example: 1 }
            visitesAVenir: { type: integer, example: 2 }
    Compte:
      type: object
      description: Compte vu par l'administrateur — le mot de passe, même haché, n'est jamais exposé
      properties:
        id: { type: integer, example: 101 }
        prenom: { type: string, example: Sarah }
        nom: { type: string, example: Dubois }
        email: { type: string, format: email }
        role: { type: string, enum: [membre, agent, admin] }
        langue: { type: string, example: fr }
        actif: { type: boolean }
        dateInscription: { type: string, format: date }
        matricule: { type: string, nullable: true, example: AG-2023-001 }
        niveauAcces: { type: integer, nullable: true, example: 2 }
    PageComptes:
      type: object
      properties:
        contenu: { type: array, items: { $ref: '#/components/schemas/Compte' } }
        page: { type: integer }
        taille: { type: integer }
        totalElements: { type: integer }
        totalPages: { type: integer }
    TraceAudit:
      type: object
      properties:
        id: { type: integer }
        horodatage: { type: string, format: date-time }
        action: { type: string, example: connexion }
        entite: { type: string, example: 'rendez_vous#218' }
        ip: { type: string, example: 84.8.145.40 }
        utilisateurId: { type: integer }
        utilisateur: { type: string, example: David Moreau }
        role: { type: string, enum: [membre, agent, admin] }
    PageTraces:
      type: object
      properties:
        contenu: { type: array, items: { $ref: '#/components/schemas/TraceAudit' } }
        page: { type: integer }
        taille: { type: integer }
        totalElements: { type: integer }
        totalPages: { type: integer }
    CleApi:
      type: object
      properties:
        id: { type: integer }
        libelle: { type: string, nullable: true, example: Observatoire des loyers }
        creeLe: { type: string, format: date }
        active: { type: boolean }
        derniereUtilisation: { type: string, format: date-time, nullable: true }
        creeePar: { type: string, example: Lotte Goossens }
        cle:
          type: string
          nullable: true
          example: ic_a762098493b17f323023fa5819374854997fddaa7364a62c5f83012c187f680a
          description: Renseignée uniquement dans la réponse à la création
    TraductionLigne:
      type: object
      properties:
        cle: { type: string, example: accueil.titre }
        valeurs:
          type: object
          additionalProperties: { type: string }
          example: { fr: Trouvez le bien qui vous ressemble, nl: Vind het pand dat bij u past, en: Find the property that suits you }
    Statistiques:
      type: object
      properties:
        biensParStatut: { type: object, additionalProperties: { type: integer } }
        comptesParRole: { type: object, additionalProperties: { type: integer } }
        comptesDesactives: { type: integer }
        rendezVousParStatut: { type: object, additionalProperties: { type: integer } }
        visitesAVenir: { type: integer }
        paiementsReussis: { type: integer }
        revenusPremium: { type: number, example: 1560.00 }
        montantRembourse: { type: number, example: 270.00 }
        favoris: { type: integer }
        messages: { type: integer }
        communes:
          type: array
          items:
            type: object
            properties:
              ville: { type: string, example: Jette }
              biensDisponibles: { type: integer, example: 6 }
              prixMoyen: { type: number, nullable: true, example: 384167, description: Prix moyen des biens à vendre ; absent si la commune ne propose que des locations }
    Message:
      type: object
      properties:
        id: { type: integer }
        expediteur: { type: string, example: Lucas Peeters }
        destinataire: { type: string, example: Sarah Dubois }
        contenu: { type: string }
        envoyeLe: { type: string, format: date-time }
        lu: { type: boolean, description: Lu par son destinataire }
        deMoi: { type: boolean, description: Vrai si l'utilisateur connecté en est l'auteur }
    Conversation:
      type: object
      properties:
        interlocuteurId: { type: integer, example: 101 }
        interlocuteur: { type: string, example: Sarah Dubois }
        dernierMessage: { type: string, description: Aperçu du dernier message échangé (120 caractères) }
        dernierEnvoi: { type: string, format: date-time }
        dernierDeMoi: { type: boolean }
        nonLus: { type: integer, example: 2, description: Messages reçus et non encore lus }
    BienOpenData:
      type: object
      description: Version anonymisée pour l'Open Data (aucune donnée personnelle)
      properties:
        typeOffre: { $ref: '#/components/schemas/TypeOffre' }
        categorie: { type: string, example: Appartement }
        ville: { type: string, example: Ixelles }
        codePostal: { type: string, example: '1050' }
        prix: { type: number, example: 285000, description: Prix de vente, ou loyer mensuel d'une location }
        superficie: { type: number, example: 95 }
        nbChambres: { type: integer, example: 3 }
        peb: { $ref: '#/components/schemas/Peb' }
        latitude: { type: number, example: 50.8275 }
        longitude: { type: number, example: 4.3720 }
        publieLe: { type: string, format: date }
    Erreur:
      type: object
      description: Format RFC 7807 (application/problem+json)
      properties:
        type: { type: string, example: https://www.immoconnect.be/erreurs/creneau-indisponible }
        title: { type: string, example: Créneau indisponible }
        status: { type: integer, example: 409 }
        detail: { type: string, example: Ce créneau vient d'être réservé par un autre membre. }
        champs:
          type: object
          additionalProperties: { type: string }
          example: { email: L'adresse e-mail est invalide }
